<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Collage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="container">

<div class="row">
    <div class="col-md-6">
            <h1>Your collage</h1>
    </div>
</div>
    <div class="row">
        <div class="col-md-12 ">
        <img src="/static/collage.png" class="img-thumbnail center-block">
        </div>
</div>
</div>

</body>
</html>